body{
    margin:0px;
    padding:0px;
    display:flex;
    flex-direction: column;
}
.section-1-wrapper{
    background-color: #1F2937;
    padding:0% 15%;
    padding-bottom:100px;
}
button{

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;

  color: #fff;
  background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
   background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}


header{
    display:flex;
    align-content: center;
    padding:0px;
}
.text-galore{
    font-size:18px;
    color:#E5E7EB;
}
.section-1{
    display:flex;
    justify-content: space-around;
    align-content:center;
}
.same-size-1,.same-size-2{
    flex-basis:35%;
}
.same-size-2{
    margin-left:auto;
}

ul{
    font-size:18px;
    color:#E5E7EB;
    display:flex;
    margin-left:auto;
    gap:10px;
    list-style-type: none;
}

.main-title{ 
    font-size:24px;
    color:#F9FAF8;
}


.big-letters-title{
    font-size: 48px;
    font-weight:extra-bold;
    color:#F9FAF8
}


img{max-width: 500px;}